body {
    background-image: url("/assets/images/fake-wapo.");
    padding-top: 65px;
    background-color: rgb(46, 13, 13);
}

.deleteNote {
	display: inline-block;
}

.previousNotes {
    display: inline-block;
    width: 90%
}

#scrape {
    margin: 8px 0px;
}

.btn btn-primary{ 

    background-color: aquamarine;
}
.nav { 

    margin-left: 500px;
}

.mongo { 

    margin-left: 500px;
}